# Configuración de la base de datos PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=mesa_ayuda
DB_PASSWORD=root
DB_PORT=5432

# Puerto del servidor
PORT=3001

# Configuraciones adicionales
NODE_ENV=development
